<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Cart</title>
<link rel="stylesheet" type="text/css" media="all"
	href="Css/MyStyle.css" />
</head>
<body>
	<hr>
	<div align="center">
		<h1>Polizon</h1>
		<h2>Cart</h2>
	</div>
	<hr>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<div align="left">
		<a href="Home.html" th:href="@{/Home}">Home</a> &ensp;
		<!-- &ensp; insert a space -->
		<a href="Cart.html" th:href="@{/Cart}">Cart</a>&ensp; <a
			href="Orders.html" th:href="@{/Orders}">Orders</a>
	</div>

	<div align="center">
		<p class="error" th:text=" ${errorMsg}"></p>
	</div>
	<ul >
		<li th:each="entry : ${sellerMap}"><h3
				th:text="${entry.key.name} ">seller name</h3>
			<h4 >Products added to cart:</h4>
			<ol th:remove="all-but-first">
				<li th:each="product : ${entry.value}"><span
					th:text="${product.name} ">product name</span>&ensp;<a
					th:href="@{'/GetProductDetails?id='+${product.id}}">Get Details</a>
					<br />
					<span th:text="'unit price = '+${product.price}">unit price = 5$</span><br /> 
					<span th:text="'amount = '+${product.amount}">amount = 5</span>
					</li>
			</ol> 
			<p th:text="'Total Products Price= '+${entry.key.cartPrice}+'$'">Total  Products Price = 5$</p>
			<p th:text="'Shipping Price = '+${entry.key.shippingPrice}+'$'">Shipping Price = 5$</p>
			<form th:action="@{'/CreateOrder?sId='+${entry.key.id}}" method="POST">
			<button type="submit" name="button" value="button">Create Order</button>
		</form> 
			<br /> <br /></li>
	</ul>
</body>
</html>