<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CssErrors.css" th:href="@{/Css/MyStyle.css}" />
</head>
<body>
	<hr>
	<div align="center">
		<h1>Polizon</h1>
	</div>
	<hr>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<div align="left">
		<a href="Home.html" th:href="@{/Home}">Home</a> &ensp;
		<!-- &ensp; insert a space -->
		<a href="Cart.html" th:href="@{/Cart}">Cart</a>&ensp; <a
			href="Orders.html" th:href="@{/Orders}">Orders</a>
	</div>

	<div align="center">
		<p class="error" th:text=" ${errorMsg}"></p>
		<h1 th:text="${product.name}">Product Name</h1>
		<p th:text="'department: '+${product.department}">Department:
			departmentName</p>
		<p th:text="'Description: '+${product.description} ">Description:
			product description</p>
		<img th:src="@{${product.image}}" src="Images/1.png"><br /> <br />
	</div>
	<h2 th:text="${found}">Sellers</h2>
	<ul >
		<li th:each="seller : ${sellersMap}"><span
			th:text="${seller.key.name} "> seller name</span>&ensp;<span
			th:text="'rating=' + ${seller.key.rating} + '/5'"> rating=
				3.7/5</span>&ensp;<span
			th:text="'unitPrice= ' + ${seller.key.productPrice} +'$' ">
				unitPrice= 5$</span>&ensp; <span
			th:text="(${seller.key.freeshipping<=0} ? '' : 'Free shipping starting from  ' + ${seller.key.freeShipping} + '$')">Free
				shipping starting from 33$</span>&ensp;
			<h4 th:text="${seller.key.name} +' price ranges:'">Sellers'
				price ranges:</h4>
			<ol >
				<li th:each="priceRange : ${seller.key.ranges}"><span
					th:text="'Number of items from ' + ${priceRange.min} + (${priceRange.max ==-1} ? '' : ' to ' + ${priceRange.max} ) + ', Shipping Price= ' + ${priceRange.price}+'$'">Number
						of items between from 0 to 5, Shipping Price= 27$</span></li>
			</ol>
			<p
				th:text="(${seller.value.amount ==0} ? '' : 'Currently you have '+${seller.value.amount}+' products of this seller in your cart')">Currently
				you have 5 products of this seller in your cart</p>
			<p
				th:text="(${seller.value.amount ==0} ? '' : 'The total price for this seller currently is '+${seller.value.price}+' $')">
				The total price for this product currently is 5$</p>
			<form th:action="@{/AddToCart}" method="POST">
				<input type="hidden" id="product" name="product"
					th:value="${product.id}"> <input type="hidden" id="seller"
					name="seller" th:value="${seller.key.id}"> <input
					type="number" name="addToCart" required min="1"> <input
					type="submit" value="addToCart" />
			</form> <br /> <br /></li>
	</ul>
</body>
</html>
