<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CssErrors.css" th:href="@{/Css/MyStyle.css}" />
</head>
<body>
	<hr>
	<div align="center">
		<h1>Polizon</h1>
	</div>
	<hr>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<div align="left">
		<a href="Home.html" th:href="@{/Home}">Home</a> &ensp;
		<!-- &ensp; insert a space -->
		<a href="Cart.html" th:href="@{/Cart}">Cart</a>&ensp; <a
			href="Orders.html" th:href="@{/Orders}">Orders</a>
	</div>

	<div align="center">
		<p th:text=" ${errorMsg}"></p>
		<h1 th:text="${product.name}">Product Name</h1>
		<span th:text="'department: '+${product.department}">
			Department: departmentName</span><br /> <span
			th:text="'Description: '+${product.description} ">
			Description: product description</span> <br /> <br /> <img
			th:src="@{${product.image}}" src="Images/1.png"><br /> <br />
	</div>
	<h2 th:text="${found}">Sellers</h2>
	<ul th:remove="all-but-first">
		<li th:each="seller : ${sellers}"><span th:text="${seller.name} ">
				seller name</span>&ensp;<span th:text="'rating=' + ${seller.rating} + '/5'">
				rating= 3.7/5</span>&ensp;<span
			th:text="'unitPrice= ' + ${seller.productPrice} +'$' ">
				unitPrice= 5$</span>&ensp; <span
			th:text="'Free shipping starting from  ' + ${seller.freeShipping} + '$' ">Free
				shippig starting from 33$</span>&ensp;
			<h4 th:text="${rangeMsg}">Sellers' price ranges</h4> <br /> <br />
			<ol th:remove="all-but-first">
				<li th:each="priceRange : ${seller.ranges}"><span
					th:text="'Number of items from ' + ${priceRange.min} + (${priceRange.max ==-1} ? '' : ' to ' + ${priceRange.max} ) + ', Shipping Price= ' + ${priceRange.price}+'$'">Number
						of items between from 0 to 5, Shipping Price= 27$</span></li>
			</ol> <br /> <br />
			<form th:action="@{/AddToCart}" method="POST">
			<input type="hidden" id="product" name="product" th:value="${product.id}">
			<input type="hidden" id="seller" name="seller" th:value="${seller.id}">
				<input type="number" name="addToCart" required min="1"> <input
					type="submit" value="addToCart" />
			</form><br /> <br /></li>
	</ul>
</body>
</html>
