div{
	margin-left: 2%;
	margin-right: 2%
}

.formdiv {
	width: "33%";
	float: left;
	display: inline;
	margin: 10px;
	padding: 10px;
}

* {
	list-style: list-style-image;
}

ul li {
	margin-left: 5%;
	position: relative;
	padding-left: 5px;
}

img {
	width: auto;
	height: 100px;
}

p{color: red}